/* Custom CSS */
.custom-scrollbar {
    scrollbar-width: thin;
    /* For Firefox */
    scrollbar-color: rgba(0, 0, 0, 0.5) transparent;
    /* For Firefox */
}

.custom-scrollbar::-webkit-scrollbar {
    width: 8px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.5);
    /* Default thumb color */
    border-radius: 20px;
    opacity: 0;
    /* Start with scrollbar thumb hidden */
    transition: opacity 0.3s;
}

.custom-scrollbar:hover::-webkit-scrollbar-thumb {
    opacity: 1;
    /* Show scrollbar thumb on hover */
}

.custom-scrollbar::-webkit-scrollbar-track {
    background: transparent;
    /* Hide scrollbar track */
}

.custom-scrollbar:hover::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.1);
    /* Show track on hover */
}


#bg{
    background-repeat: no-repeat;
    background-size: cover;
}


