.custom-scrollbar {
    scrollbar-width: thin;
    scrollbar-color: rgba(0, 0, 0, 0.5) transparent;
}

.custom-scrollbar::-webkit-scrollbar {
    width: 8px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    opacity: 0;
    transition: opacity 0.3s;
}

.custom-scrollbar:hover::-webkit-scrollbar-thumb {
    opacity: 1;
}

.custom-scrollbar::-webkit-scrollbar-track {
    background: transparent;
}

.custom-scrollbar:hover::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.1);
}


#bg{
    background-repeat: no-repeat;
    background-size: cover;
}


